.hop-tabs {
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #3C3C3C;
    font-weight: 505;
}

.hop-tabs__list {
    display: flex;
    border: 1px solid #E0DFDD;
    background-color: #F8F6F3;
    border-radius: 8px;
    height: 48px;
    box-sizing: border-box;
}

.hop-tab {
    position: relative;
    padding: 14px 16px;
}

.hop-tab:hover {
    cursor: pointer;
}

.hop-tab:focus-visible {
    outline: none;
}

.hop-tab[data-focus-visible]:before {
    content: '';
    position: absolute;
    display: block;
    border-radius: 4px;
    inset: 12px 14px;
    box-shadow: 0 0 0 0.12rem var(--hop-neutral-surface), 0 0 0 0.219rem var(--hop-primary-border-focus);
}

.hop-tab[data-selected="true"]:after {
    content: '';
    display: block;
    position: absolute;
    inset: calc(100% - 2px) 16px 0 16px;
    border-top-style: solid;
    border-top-color: #3C3C3C;
    border-top-width: 2px;
}

.hop-tabs__panel {
    padding: 16px;
}
